<div class="add-todo-wrapper container has-blurred-white-bg">

    <h2 class="is-bold">New Todo</h2> 

     <form #form="ngForm" (ngSubmit)="onSubmitTodo(form)">
         <div class="form-field">
            <input class="textbox" ngModel #textField="ngModel" name="text" type="text" placeholder="Enter todo text..." required minlength="3">
            <ng-container *ngIf="showTodoValidationErrors  && textField.invalid ">
                <small *ngIf="textField.errors.required">Please enter some text for this todo</small>
                <small *ngIf="textField.errors.minlength">The todo text must be atleast 3 characters</small>
            </ng-container>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn">Cancel </a>
            <button  class="btn align-end">Add Todo</button>
        </div>


    </form>


</div>

