/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400&display=swap');

/* * {
	font-family: 'PT Sans', sans-serif;
} */

.red-bg {
	background-color: red;
}

.yellow-bg {
	background-color: yellow;
}

.green-bg {
	background-color: #2eb85c;
}

.special-color-x {
	background-color: #00bcd4 !important;
}

.orange-bg{
    background-color: rgba(255, 166, 0, 0.699);

}

.info {
	color: #00bcd4;
}

.text-white {
	color: white;
}

.form-wrapper {
	min-width: 400px;
	max-width: 600px;
	margin: 40px auto;
}

.shadow {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	transition: 0.3s;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	/* font-family: Roboto, "Helvetica Neue", sans-serif; */
	/* font-family: "pt-sans-bold", sans-serif; */
	font-family: 'PT Sans', sans-serif;
	background-color: #f6f8fa;
}

* {
	font-family: PT Sans;
}

.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #eee;
}

.bg-white {
	background-color: white;
}
.addtions {
	margin: auto;
	width: 100%;
	padding: 20px 30px;
	margin-top: 20px;
}


