<div class="card">
    <div class="card-header">Details</div>
    <div class="card-body">
      <div class="user-details">
        <div class="user-detail">
            <div class="fields bold"> Name: </div>
            <div class="field-values text-muted">Rishabh Tripathi</div>
        </div>

        <div class="user-detail">
            <div class="fields bold">UserName:</div>
            <div class="field-values">Majuniour</div>
        </div>

        <div class="user-detail">
            <div class="fields bold">Email:</div>
            <div class="field-values text-muted">trishabh885@gmail.com</div>
        </div>

        <div class="user-detail">
            <div class="fields bold"> Mobile:</div>
            <div class="field-values text-muted">7838195205</div>
        </div>

        <div class="user-detail">
            <div class="fields bold"> Gender:</div>
            <div class="field-values text-muted">Male</div>
        </div>

        <div class="user-detail">
            <div class="fields bold"> Date Of Birth:</div>
            <div class="field-values text-muted">27/01/1997</div>
        </div>

        <div class="user-detail">
            <div class="fields bold"> Address:</div>
            <div class="field-values text-muted">Address,city,state,country,zip</div>
        </div>

        <div class="user-detail">
            <div class="fields bold">Company:</div>
            <div class="field-values text-muted">Crownstack</div>
        </div>

        <div class="user-detail">
            <div class="fields bold">Links:</div>
            <div class="field-values info"><a>www.github.com/vegito27</a></div>
        </div>

        <div class="user-detail">
            <div class="fields bold">Skills:</div>

            <div class="field-values">
                <span class="badge bg-primary">HTML</span>
                <span class="badge bg-secondary">PHP</span>
                <span class="badge bg-success">Success</span>
                <span class="badge bg-danger">Danger</span>
                <span class="badge bg-warning text-dark">Warning</span>
                <span class="badge bg-info">Info</span>
            </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>