<div class="bookmarks-wrapper">
    <div class="container">

        <div class="bookmark-tile-container">

            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>

        </div>

    </div>
</div>
