<div class="bg-white responsive addtions" class="graph-card">
    
    <h4 style="width:100%;font-size: 1.13rem;font-weight: 500;margin: auto;">Last 7 days Registered Users Data:</h4>
    <canvas mdbChart
        class="single-wrapper"
        style="max-width:580px;height:280px;margin-top: 25px;margin:auto;"
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>