.card {
	/* width: 250px; */
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	transition: 0.3s;
	margin-bottom: 15px;
	cursor: pointer;
	color: white;
	padding: 10px 0;
	/* display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap; */
}

.card h5 {
	font-weight: 400;
	margin-top: 10px;
	font-size: 20px;
}

h5 h6 {
	font-size: larger;
	font-weight: 400;
	margin: 10px;
}

.card:hover {
	transform: scale(1.01);
}

.red-bg {
	background-color: #ae27b0;
}

.blue-bg {
	background-color: #03a9f4f2;
}

.green-bg {
	background-color: #2eb85c;
}
