<!-- Default form login -->
<div class="form-wrapper">
    
<form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <h1 style="font-size: 35px;color:#00bcd4 !important" class="mb-5">Sign in</h1>
  

  
    <!-- Email -->
    <div class="mb-4">
        <input 
            type="email" 
            formControlName="email"
            id="defaultLoginFormEmail" 
            class="form-control" 
            placeholder="E-mail">
        <div>
            <small *ngIf="Error?.email" style="color:red">{{Error.email}}</small>
            <!-- <small style="color:red">Email does not exists! Please Enter the valid email***</small> -->
        </div>
    </div>
  
    <!-- Password -->
    <div class="mb-4">
        <input 
            type="password"
            formControlName="password"
            id="defaultLoginFormPassword" 
            class="form-control"
            focus="Error?.password==false"
            placeholder="Password">
            <div>
                <small *ngIf="Error?.password" style="color:red" >{{Error.password}} </small>
                <!-- <small style="color:red"> Password does not match! Please Enter the vaid password** </small> -->
            </div>
    </div>
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a routerLink="/signup">Register</a>
    </p>
  
    <!-- Social login -->
    <p>or sign in with:</p>
  
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>
  
  </form>
  </div>
  <!-- Default form login -->