<!-- Default form register -->
<div class="form-wrapper">
    <form  class="text-center border border-light p-5" [formGroup]="userForm"  (ngSubmit)="SignUp()" >
        <h3 class="h3 mb-4" style="color:#f13f7c">Sign Up</h3>

        <div class="form-row mb-4">
            <div class="col">
                <input 
                type="text" 
                id="defaultRegisterFormFirstName"
                [class.is-invalid]="firstName.invalid && (firstName.touched || firstName.dirty)"
                [class.is-valid]="firstName.valid"
                formControlName="firstName" 
                class="form-control" 
                placeholder="First name">
                <div *ngIf="firstName.invalid && firstName.touched">
                    <small *ngIf="firstName.errors?.required" style="color:red">FirstName is required***</small>
                    <small *ngIf="firstName.errors?.minlength" style="color:red">minLength should be of 4 characters***</small>
                </div>
            </div>

            <div class="col">
                <input 
                type="text" 
                id="defaultRegisterFormLastName" 
                formControlName="lastName" 
                class="form-control"
                placeholder="Last name">            
            </div>            
        </div>

        <!-- UserName -->
        <div class="mb-4">
            <input 
                type="text" 
                id="defaultRegisterFormEmail" 
                class="form-control" 
                formControlName="userName" 
                [class.is-invalid]="userName.invalid && (userName.touched)"
                [class.is-valid]="userName.valid"
                placeholder="UserName">
                <div *ngIf="userName.invalid && (userName.touched || userName.dirty)">
                    <small *ngIf="userName.errors?.required" style="color:red">UserName is required****</small>
                    <small *ngIf="userName.errors?.pattern" style="color:red">Username must contain atleat 6 char  [A-Z,a-z,0-9]</small>
                </div>

                
        </div>
            

        <!-- E-mail -->
        <div class="mb-4">
            <input 
                type="email" 
                id="defaultRegisterFormEmail" 
                class="form-control"
                [class.is-invalid]="email.invalid && (email.touched || email.dirty)" 
                [class.is-valid]="email.valid" 
                formControlName="email" 
                placeholder="E-mail">
                <div *ngIf="email.invalid && (email.touched || email.dirty)">
                    <small *ngIf="email.errors?.required" style="color:red">Email is required***</small>
                    <small *ngIf="email.errors?.email" style="color:red">Please Enter valid email***</small>
                </div>
                <small *ngIf="Error?.email" style="color:red">***OOPs! {{Error?.email}}! Please try another email</small>
            
        </div>

         <!-- Phone number -->

         <input 
            type="text"
            onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==43'
            id="defaultRegisterPhonePassword"
            formControlName="phone" 
            class="form-control" 
            placeholder="Phone number" 
            aria-describedby="defaultRegisterFormPhoneHelpBlock"
            [class.is-invalid]="phone.invalid && (phone.touched || phone.dirty)"
            [class.is-valid]="phone.valid"
            >
        <div  *ngIf="phone.invalid && (phone.touched || phone.dirty)" class="mb-4">
            <small  *ngIf="phone.errors?.required" id="defaultRegisterFormPhoneHelpBlock" style="color:red" class="form-text mb-4">
                Phone Number is required****
                </small>
            <small *ngIf="phone.errors?.minlength" style="color:red">Minlength should be 10 and starts with +91</small>
           
         </div>
         <small *ngIf="Error?.phone" style="color:red">**{{Error?.phone}}! </small>
            

        <div class="mt-4 mb-4">   
            <span style="float:left"> Choose the User Type:</span>
             <div class="custom-control custom-checkbox custom-control-inline">
                 <input 
                    type="checkbox" 
                    formControlName="isAdmin" 
                    class="custom-control-input" 
                    id="defaultInline1" 
                    (click)="toggle()" 
                    [checked]="ischecked">
                 <label class="custom-control-label" for="defaultInline1">Admin</label>
             </div>
             
             <div class="custom-control custom-checkbox custom-control-inline">
                 <input 
                 type="checkbox" 
                 class="custom-control-input" 
                 id="defaultInline2" 
                 (click)="toggle()" 
                 [checked]="!ischecked" >
                 <label class="custom-control-label" for="defaultInline2">Normal User</label>
             </div>
         </div>
        
           <!-- Password -->
           <div class="mb-4">
            <input 
                type="password" 
                id="defaultRegisterFormPassword" 
                formControlName="password" 
                class="form-control" 
                placeholder="Password" 
                [class.is-invalid]="password.invalid && (password.touched)"
                [class.is-valid]="password.valid"
                aria-describedby="defaultRegisterFormPasswordHelpBlock"
                >
                <div class="mt-1" *ngIf="password.invalid && (password.touched || password.dirty)">
                    <small *ngIf="password.errors?.pattern" style="color:red" id="defaultRegisterFormPasswordHelpBlock" style="color:red" class="form-text mb-4">
                    Password must contain uppercase,lowercase number and special character
                    </small>
                </div>
            </div>

         <!-- Password -->
         <input 
            type="password"
            id="defaultRegisterFormPassword" 
            formControlName="confirmPassword" 
            class="form-control" 
            [class.is-invalid]="userForm.errors?.misMatch"
            placeholder="Confirm Password"
            [class.is-valid]="userForm.valid"
            aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <div class="mb-4">
                <small  *ngIf="userForm.errors?.misMatch" id="defaultRegisterFormPasswordHelpBlock" style="color:red" class="form-text mb-4" >
                    Password does not match
                </small>
            </div>

        <!-- Newsletter -->
        <div class="row">
        <!-- <div class="col-md-6 mx-auto d-flex justify-content-center">
            <mdb-checkbox [default]="true">Subscribe to our newsletter</mdb-checkbox>
        </div> -->
        </div>

        <!-- Sign up button -->
        <button  [disabled]="!userForm.valid" mdbBtn  color="success" block="true" class="my-4" type="submit" >Sign in</button>

        <!-- Social register -->
        <p>or sign up with:</p>

        <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="github"></mdb-icon>
        </a>

        <hr>

        <!-- Terms of service -->
        <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a></p>

    </form>
    <!-- Default form register -->
</div>    