@import '../../../main-styles.scss';


.root{
    display: flex;
    width: 100%;
    position: relative;

    &:hover{
        .x-icon-button{
            opacity: 1;
            transform: scale(1);
        }
    }

   .x-icon-button{
       position: absolute;
       height:34px;
       width: 34px;
       border-radius: 50%;
       background-color: $dark;
       background-image: url('../../../assets/delete_icon.svg');
       background-repeat: no-repeat;
       background-position: center ;
       right:-17px;
       top:-17px;
       transform: scale(0);
       opacity: 0;
       cursor: pointer;
       transition:opacity 0.2 ease-out,transform 0.2s ease-out;

       &:hover{
           transform:scale(1.2)
       }
   }

}

.budget-item{
    display: flex;
    width: 100%;
    background-color: $light-gray;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    .description{
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;
    }

    .amount{
        padding:5px;
        border-radius: 3px;
    }

    &:hover{
        background-color: darken($light-gray,2%);
    }


}

.expense{
    p{
        color:$red
    }
    .amount{
        background-color: $light-red;
    }
}


.income{
    p{
        color:$green
    }
    .amount{
        background-color: $light-green;
    }
}


