.todo-item{
    position: relative;
    display: flex;
    background-color: rgba(black,0.5);
    border-radius: 25px;
    margin-bottom: 15px;
    padding:10px 12px;
    align-items: center;
    cursor: pointer;
}

.container{
    width:850px;
    margin: auto;
}

.todo-text{
    color:rgba(white,0.9 )
}

.check-box{
    display: flex;
    padding:4px;
    border:2px solid rgba(white,0.35);
    border-radius: 50%; 
    margin-right: 5px;
    i{
        font-size: 18px;
        opacity: 0; 
    }
}

.todo-item:hover{

    .todo-text{
        color:white 
    }

    .check-box{
        border-color: transparent;
        background-color: rgba(white,0.35);
   }     
}

.todo-item.completed{

    .todo-text{
        color:rgba(white,0.78)
    }

    .check-box{
        background: rgb(9,218,89);
        border-color: transparent;

        i{
            opacity: 1;
        }
    }
}

.todo-text,.check-box{
    transition:0.1s
}

.todo-item-action-btn i{
    font-size: 20px;
}


.todo-item-action-btn{
    background: transparent;
    border-radius: inherit;
    padding:10px;

    &:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius:0;
        padding-left: 14px;
    }

    &:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius:0;
        padding-right:14px;
    }

    &:hover{
        background:rgb(50,50,53)
    }

}

.todo-items-actions{
    position:absolute;
    right:5px;
    top:5px;
    background:rgba(72,72,78,0.8);
    border-radius: 20px;
    backdrop-filter:blur(2px);
    box-shadow:0 4px 12px rgba(black,0.2) ;
    transition: 0.2s;
    transition-delay:0.5s ;
    visibility: hidden;
    opacity: 0; 
}

.todo-item:hover .todo-items-actions{
    visibility: visible;
    opacity: 1;
    transform:scale(1);
    transition-delay:0.5s;
    transform: scale(0.8);
}