<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center">
                <img src="../../../../../assets/images/avatar.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">
        
                <h4 class="mb-0">Nik G. Patel</h4>
                <p class="text-muted">@webdesigner</p>
        
                <button type="button" class="btn btn-success btn-sm waves-effect mb-2 waves-light" (click)="updateProfile()">Update Profile</button>
                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <p class="text-muted font-13 mb-3">
                        Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type.
                    </p>
                    <!-- <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ml-2">Location</span></p> -->
                </div>
        
                <ul class="social-list list-inline mt-3 mb-0">
                    <app-profile-social-links></app-profile-social-links>
                </ul>
            </div> <!-- end card-box -->
        
            <div class="card-box">
                <h4 class="header-title" style="font-weight: 900">Top 5 Skills</h4>
                <p class="mb-3">Everyone realizes why a new common language would be desirable</p>
                <app-profile-card></app-profile-card>
    
            </div> <!-- end card-box-->
        
        </div> <!-- end col-->
     <div class="col-lg-8 col-xl-8">
        <div class="card-box">
            <app-list-profile></app-list-profile>
            
            <div class="tab-content">
                <div class="tab-pane show active" id="about-me">
                    <div class="tab-pane" id="settings">
                       <!--  <app-edit-profile *ngIf="update;else show"></app-edit-profile>
                        <ng-template #show>
                            <app-profile-about ></app-profile-about>
                        </ng-template> -->
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div> <!-- end tab-content -->
        </div> <!-- end card-box-->
    
    </div> <!-- end col -->
    </div>
     
</div>