<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center">
                <img src="../../../../../assets/images/avatar.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">
        
                <h4 class="mb-0">{{profile.userName}}</h4>
                <p class="text-muted">{{profile.profile}}</p>

                <button type="button" mdbBtn class="btn btn-success btn-sm waves-effect mb-2 waves-light" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> Update Profile</button>
        
                <!-- <button type="button" class="btn btn-success btn-sm waves-effect mb-2 waves-light" (click)="updateProfile()">Update Profile</button> -->
                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <p class="text-muted font-13 mb-3">
                        {{profile.aboutMe}}
                    </p>
                    <!-- <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ml-2">Location</span></p> -->
                </div>
        
                <ul class="social-list list-inline mt-3 mb-0">
                    <app-profile-social-links></app-profile-social-links>
                </ul>
            </div> <!-- end card-box -->
        
            <div class="card-box">
                
                <div style="display: flex;justify-content: space-between;align-items: center;">
                <h4 class="header-title" style="font-weight: 900">Top 5 Skills</h4>
                <a style="border-radius: 50%; color:white;margin-top: -10px;" type="button" class="btn-sm btn-danger"><i class="fa fa-plus" aria-hidden="true"></i></a>
    
                  </div>
                <p class="mb-3">Everyone realizes why a new common language would be desirable</p>
                <app-profile-card></app-profile-card>
    
            </div> <!-- end card-box-->
        
        </div> <!-- end col-->
     <div class="col-lg-8 col-xl-8">
        <div class="card-box">
            <app-list-profile></app-list-profile>
            
            <div class="tab-content">
                <div class="tab-pane show active" id="about-me">
                    <div class="tab-pane" id="settings">
                       <!--  <app-edit-profile *ngIf="update;else show"></app-edit-profile>
                        <ng-template #show>
                            <app-profile-about ></app-profile-about>
                        </ng-template> -->
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div> <!-- end tab-content -->
        </div> <!-- end card-box-->
    
    </div> <!-- end col -->
    </div>
     
</div>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header">
        <img src="../../../../../assets/images/avatar.png" alt="avatar"
             class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body md-form mb-1 mt-3">

        <h2 class="info mb-1 text-center">Change Your Profile </h2>

        <div class="md-form ml-0 mr-0">
          <input type="password" type="text" id="form29" class="form-control form-control-sm ml-0"
                 mdbInput mdbValidate [formControl]="modalFormAvatarPassword">
          <label for="form29" class="ml-0">Change Profile Name</label>
          <mdb-error
            *ngIf="modalFormAvatarPassword.invalid && (modalFormAvatarPassword.dirty || modalFormAvatarPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormAvatarPassword.valid && (modalFormAvatarPassword.dirty || modalFormAvatarPassword.touched)">
            Input valid
          </mdb-success>
        </div>

        <div class="md-form mt-2">

        <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput mdbValidate
                    ></textarea>
          <label for="form8">About Me:</label>
          </div>

        <div class="text-center mt-4">
          <button mdbBtn color="cyan" rounded="true" class="mt-1 waves-light" mdbWavesEffect>Save
          </button>
        </div>
      </div>

    </div>
  </div>
</div>