<div class="container-fluid">
    <h1>BootCamp Enrollment Form</h1>
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
    {{ userForm.value | json }}  <!-- {{userModel | json}} -->
    <hr />
        <div class="form-group">
            <label>Name</label>
            <input 
                required 
                #name="ngModel" 
                type="text" 
                [class.is-invalid]="name.invalid && name.touched" 
                class="form-control" 
                name="username" 
                [(ngModel)]="userModel.name">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>

        <div class="form-group">
            <div class="col-xs-4">
                <label>Email</label>
                <input name="email" type="email" class="form-control" [(ngModel)]="userModel.email">
            </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input 
                name="phone" 
                #phone="ngModel" 
                [class.is-invalid]="phone.invalid && phone.touched" 
                required 
                pattern="^\d{10}$" 
                type="tel" 
                class="form-control" 
                [(ngModel)]="userModel.phone" >
            <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone is required and must be 10 digit</small>-->

            <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                <small class="text-danger" *ngIf="phone.errors.required">Phone number is required </small>
                <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits </small>
            </div>
        </div>

        <div class="form-group">
           <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel"  name="topic"
            [class.is-invalid]="topicHasError && topic.touched" class="custom-select" [(ngModel)]="userModel.topic">
                <option selected value="default"> I m interested in</option>
                <option *ngFor="let topic of topics" >{{ topic }}</option>
            </select> 
            <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose the topic</small>
             <!-- <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="selectedQuantity">
                        <option *ngFor="let option of options" [value]="option" >{{option}}</option>
                    </select>
             -->
        </div> 

        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="timepreference" value="morning" [(ngModel)]="userModel.timepreference">
                <label class="form-check-label">Morning(9AM-12PM)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="timepreference" value="morning" [(ngModel)]="userModel.timepreference">
                <label class="form-check-label">Morning(5PM-8PM)</label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" name="subscribe" type="checkbox" [(ngModel)]="userModel.subscribe">
                <label class="form-check-label">Send Me promotional Offer</label>
            </div>
        </div>
        <button [disabled]="userForm.form.invalid || topicHasError" type="submit"  class="btn btn-primary">Submit</button>
    </form>
</div>