.bar-card {
	/* display: block; */
	/* justify-content: center; */
	background-color: white;
	padding: 40px;
	/* max-width: 600px; */
	margin-top: 20px;
	border-radius: 0.3125rem;
	text-align: center;
}

.single-wrapper {
	display: flex;
	justify-content: center;
}
