<div class="bg-white responsive addtions bar-card" >
    
    <h4 style="font-size: 1.13rem;font-weight: 500;">Last 7 days Registered Users Data:</h4>
    <canvas mdbChart 
        responsive="true"
        class="single-wrapper"
        style="max-width:580px;height:300px;margin-top: 25px;margin:auto;"
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>
